.valueContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.valueTitle {
  height: 40px;
  padding-inline: var(--mantine-spacing-lg);
  font-weight: 500;
  flex-shrink: 0;
  color: var(--mantine-color-primary-7);
  background-color: var(--mantine-color-primary-0);
}

.valueEditorContainer {
  display: flex;
  overflow: hidden;
  height: 100%;
  min-height: 0;
  flex: 1;
}

.valueEditor {
  min-width: 0;
  overflow: auto;
  display: flex;
  flex: 1;
  min-height: 0;

  & > * {
    flex-grow: 1;
  }
}

.valueResult {
  padding-inline: var(--mantine-spacing-sm);
  border-left: 1px solid var(--mantine-color-neutral-2);
  display: block;
  flex: 1;
  min-width: 0;
  overflow: auto;

  white-space: pre-wrap;
  overflow-wrap: anywhere;
  font-size: var(--mantine-font-size-sm);
}
